<section class="jumbotron text-center">
  <div class="container">
    <h1>Examples of My Work</h1>
    <p class="lead text-muted">Self employed web developer for 2 years before
      becoming a CodeClan graduate as part of the Inv1 cohort.
       I was awarded a Porfessional Development Award from the SQA in Software Development. </p>
    <p>
      <%= link_to 'About Me', about_path, class: 'btn btn-primary my-2' %>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary my-2' %>
    </p>
  </div>
</section>
