<section class="jumbotron text-center">
  <div class="container">
    <h1>Examples of My Work</h1>
    <p class="lead">The aim of this portfolio is to show a selection of my work.
       In each portfolio item I have tried to highlight the skills used and one
        or two technical aspects of the project. </p>
    <p>
      <%= link_to 'About Me', about_path, class: 'btn btn-outline-secondary my-2' %>
    </p>
  </div>
</section>
