


<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top </a>/ <%= link_to 'View all Portfolio Items', portfolios_path %>
    </p>
    <div class="">
       <span class="ruby-statement">Made Using Ruby on Rails </span>
    </div>
    <div class="">

    </div>

  </div>
</footer>
