


<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top </a>/ <%= link_to 'View all Portfolio Items', portfolio_path %>
    </p>
    <div class="">
      <button type="button" class="btn btn-sm btn-outline-secondary"><%= login_helper("portfolio") %></button>
       <span class="ruby-statement">Made Using Ruby on Rails </span>
    </div>
    <div class="">

    </div>

  </div>
</footer>
