<div class="qualifications">
  <h2>Qualifications <span id="click-to-expand">(click to expand)</span></h2>
  <div class="accordion" id="accordionExample">

    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            IT Qualifications
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <h4>SQA Professional Development Award in
            Software Engineering
          </h4>
          <h5>2019 CodeClan</h5>
          <ul>
            <li>OO programming basics using Ruby</li>
            <li>SQL database basics (Postgres)</li>
            <li>Web dev framework (Sinatra)</li>
            <li>Test Driven Development</li>
            <li>Version control (Git)</li>
            <li>UX design fundamentals</li>
            <li>Solo project building a dynamic web application in Ruby and SQL.</li>
            <li>OO programming using Javascript</li>
            <li>Building RESTful APIs</li>
            <li>Using Webpac/Express</li>
            <li>Integrating Mongo DB</li>
            <li>Using React.js library</li>
            <li>Group project building a full stack JavaScript app as part of a collaborative development team. </li>
          </ul>

          <hr>

          <h4> Educator Awards</h4><h5>2017 Microsoft </h5>
          <ul>
            <li>21st Centuary Learning Design</li>
            <li>Microsoft Certified Innovative Educatior</li>
            <li>Design, Deploy and Transform Workshop</li>
            <li>Microsoft Imagine Academy</li>
            <li>Technology Enriched Instruction</li>
          </ul>

          <hr>

          <h4>
            Microsoft Certified Systems Engineer
          </h4>
          <h5>2000 Microsoft </h5>
          <ul>
            <li>Exchange Server 5.5</li>
            <li>Networking Essentials</li>
            <li>Internet working with Microsoft TCP/IP</li>
            <li>Implementing and Supporting NT4 server in the Enterprise</li>
            <li>Implementing and supporting NT4 Server</li>
            <li>Implementing and supporting NT4 workstation</li>
          </ul>
        </div>
      </div>
    </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Engineering Qualifications
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <h4>
              BEng (hons) Engineering 1st Class
            </h4>
            <h5> Open University 2016 </h5>
            <ul>
              <li>Engineering the Future (T173), Distinction</li>
              <li>Engineering:An Active Introduction (TXR120) Distinction</li>
              <li>Personal and Career Development in Engineering (T191)
                Distinction</li>
              <li>Using Mathematics (MST121) Pass</li>
              <li>Exploring Mathematics (MS221), Pass</li>
              <li>Design for Engineers (T218), Distinction</li>
              <li>Engineering:Mechanics, Materials, Design (T207), Distinction</li>
              <li>Structural Integrity:Designing Against Failure (T375), Distinction</li>
              <li>Key Skills for Professional Engineers (T397), Pass</li>
              <li>Innovation:Designing for Change (T317), Distinction</li>
              <li>Engineering in Action (TXR220), Distinction</li>
              <li>The Engineering Project (T452), Pass</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Teaching Qualifications
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <h4>
              MEd Aberdeen University 2009 - Advanced
              Professional Studies
            </h4>
            <ul>
              <li>Inclusion and Diversity</li>
              <li>Promoting Effective Learning and Teaching</li>
              <li>Literacy Difficulties and Dyslexia</li>
              <li>Working Together</li>
              <li>Curriculum Transformation and Change</li>
              <li>Professional Enquiry</li>
              <li>Professional Perspectives in Education</li>
            </ul>
            <hr>
            <h4>
              PGDip Aberdeen University 2007- Inclusive Practice
            </h4>
            <hr>
            <h4>
              PGCE Aberdeen University 2003 - Education (Distinction)
            </h4>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Science Qualifications
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <h4>BSc (hons) 2i Aberdeen University 1994- Biochemistry</h4><hr>
            <h4>MSc Aberdeen University 1996 - Human Nutrition and Metabolism</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
