

<h1>About Me</h1>
<hr>
<div class="">
  <div class="col-md-4">
    <%= image_tag "me_with_certificate.jpg", width:300, alt: "photo of me" %>
  </div>

  <div class="col-md-8 box">
    <p>This page is all about me. If you want to read about this Ruby on Rails application go to </p>
    <p>Write here about my experience and put a link to my CV. Talk about MCSE followed
      by being a Senior Systems Engineer in charge of a team of 2nd level support.
       Then teaching where I developed soft skills and developed my online pedegogy.
      After leaving teaching I set up a cloud-based web hosting company and made websites.
      </p>
      <p>In November 2019 I went on a 3 month Web developer Course where I completed
      over 500 hours of coding and learned full stack web development. Add more detail later</p>
  </div>

</div>
