

<h1 class="display-4">Contact</h1>
<div class="jumbotron jumbotron-fluid">

    <div class="col-md-6 text-center" id="contact-info">

        <iframe width="100%"
         src="https://maps.google.com/maps?q=Aboyne%2C%20Scotland&t=&z=13&ie=UTF8&iwloc=&output=embed"
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        </iframe>

    </div>

        <div class="col-md-6" id="contact-info">

    <p class="lead">I am based in Aboyne, Aberdeenshire, Scotland</p>
    <p class="lead">and  prefer to be contacted by email.</p>
    <p class="lead">
    <a class="btn btn-secondary btn-block" href="mailto:cath@nanoweb.co.uk?subject=PortfolioContact" role="button">Email Me</a>
  </p>
  </div>

  </div>




<%= render "shared/application_footer" %>
