<main role="main" class="inner cover">
  <div class="box">

  <h1 class="display-4">Welcome</h1>
  <p class="lead">I am a full-stack web developer looking for the right company to work for.
     As a fast learner, the team is more important to me than the technologies you use and I hope
     this site provides an initial insight into my skills.
    </p>
</div>
  <p class="lead text-center">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
