<main role="main" class="inner cover">
  <div class="box">

  <h1 class="display-4">Welcome</h1>
  <p class="lead">This website was written in Ruby on Rails and deployed on Heroku with an AWS S3 bucket for image uploading. The exception is
     the Blog which is on a Wordpress site. To read more about me click the button below. To read more about this site find it in portfolio.</p>
</div>
  <p class="lead text-center">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
