@import "bootstrap";
@import "font-awesome";


body{background-color: #EDF7EE}

.light-background {
  background-color: #EDF7EE
}

.dark-background{
  background-color: #2F4858
}

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  background-color: #86BBD8;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.dark-background a{
  color: white;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
